.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.social-media-container{
  margin-bottom: 100px;
}
.social-media-title{
  font-size:28px;
  font-family: Saira, sans-serif;
  font-weight:600;
  color:rgba(18, 68, 139, 1);
}
.social-media-content img{
  width:30%;
}
.social-media-content{
  padding-top: 20px;
  gap:15px;
  justify-content: center;
}
.social-media-content .col-lg-3{
  /* max-width:29%; */
  display:flex;
  flex-direction:column;
  align-items:center;
  /* margin:auto; */
  justify-content: center;
}
.social-media-subtitle{
  font-size:14px;
  font-weight:600;
  line-height:38.4px;
  color:rgba(0,0,0,1);
}
.communication-secation{
  border: 4px solid rgba(202, 98, 157, 1);
  position: relative;
  padding: 80px;
  border-radius: 20px;
}
.communication-title{
  position: absolute;
  font-weight: 600;
  font-size: 36px;
  line-height: normal;
  text-align: start;
  background-color: #fff;
  z-index: 1;
  top: -6%;
  padding: 0px 14px;
  color:rgba(18, 68, 139, 1);
  left:8%;
}
.communication-secation .row{
  gap:75px;
}
.communication-secation .col-lg-6:first-child{
  background-color: #fff;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0px 20px;
  /* max-width:40% */
}
.communication-wrapper{
  border-bottom: 2px solid rgba(202, 98, 157, 0.2);
  padding: 18px 0px;
}
.communication-wrapper:last-child{
  border: none;
}
.communication-content h2{
  font-size: 16px;
  color:rgba(202, 98, 157, 1);
  font-weight: 500;
  line-height: 28px;
}
.communication-content i{
  color:rgba(202, 98, 157, 1);
}
.communication-content-2 {
  border: 2px solid rgba(202, 98, 157, 1);
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.communication-content-2 h2{
  font-size: 18px;
  font-weight: 500;
  font-family: Saira, sans-serif;
  color:rgba(18, 68, 139, 1);
  position: absolute;
  z-index: 1;
  top: -6%;
  background-color: #fff;
  line-height: 38.4px;
  left:19.2%;
  right:19.2%;
  padding: 0px 12px;
  /* display: flex;
  justify-content: center; */
}
.communication-info{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  font-family: Saira, sans-serif;
  padding: 12px;
  border: 1px solid rgba(202, 98, 157, 1);
  border-radius: 20px;
  width:90%;
  text-align: left;
}
.communication-info span{
  background-color: rgba(202, 98, 157, 0.5);
  padding: 0px 8px;
  border-radius: 50%;
}
.communication-info p{
  font-size: 14.5px;
}
.communication-info i{
  background-color: rgba(202, 98, 157, 0.5);
  padding: 5px;
  border-radius: 15px;
  font-size: 16px;
}
@media(min-width:1200px){
  .social-media-container{
    max-width: 820px;
  }
  .communication-secation .col-lg-6:first-child{
    max-width: 40%;
  }
}
@media(max-width:991px){
  .social-media-container{
    margin-bottom: 80px;
  }
  .communication-title{
    font-size: 32px;
    top:-4%;
  }
  .communication-secation{
    padding: 60px;
  }
  .communication-content-2 h2{
    top:-10%;
    margin-bottom: 0px;
  }
  .communication-secation {
    margin-bottom: 80px !important;
  }
  .communication-content-2:nth-child(2) h2{
    top: -6.5%;
  }
}
@media(max-width:767px){
  .communication-title{
    font-size: 30px;
  }
  .communication-secation{
    padding: 40px;
  }
  .communication-content-2 h2{
    left:19.5%;
    right:19.5%;
    font-size: 16px;
  }
  .communication-content-2:nth-child(2) h2{
    top: -10.5%;
  }
}
@media(max-width:576px){
  .communication-title{
    font-size: 26px;
    top:0%;
    left:0%;
    position: relative;
    margin-bottom: 25px !important;
    text-align: center;
  }
  .communication-secation{
    padding: 20px 30px;
  }
  .communication-content-2:nth-child(2) h2{
    top:0%;
    position: relative;
    left:0%;
    right:0%;
  }
  .communication-secation .row{
    gap:30px;
  }
  .communication-info{
    padding: 8px;
    width:100%;
  }
  .communication-info span{
    padding: 0px 5px;
    font-size: 12px;
  }
}